<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IKEA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <style>
      .hide{ display: none;}
      .cookie-show {
        display: flex;
      }
    </style>
</head>
<body>
    <div id="wrap">
        <header class="header">
            <div class="header_box">
                <div class="header_main_box">
                    <h1><a href="/">
                        IKEA
                        <img src="/images/ikea-logo.svg" alt=""></a>
                    </h1>
                    <div class="search_bar">
                        <input type="text" class="searchbox" placeholder="홈 인테리어 정보, 상품 검색">
                        </input>
                        <i class='bx bx-search'></i>
                    </div>
                    <div class="register_box">
                        <ul>
                            <li id="loginBtn" ><a href="/login">로그인</a></li>
                            <li id="registerBtn"><a href="#">회원가입</a></li>
                            <li id="logoutBtn"><a href="#">로그아웃</a></li>
                        </ul>
                        <script>
                            const loginBtn = document.querySelector('#loginBtn');
                            const registerBtn = document.querySelector('#registerBtn');
                            const logoutBtn = document.querySelector('#logoutBtn');
  
                            console.log( document.cookie );
                            // login 된 경우 저장된 cookie 사용 
                            if( document.cookie ){
                              loginBtn.classList.add('hide');
                              registerBtn.classList.add('hide');
                              logoutBtn.classList.remove('hide');
                            }else{
                              logoutBtn.classList.add('hide');
                            }
  
                            logoutBtn.addEventListener('click', ()=>{
                                document.cookie = "login=ok; max-age=0";
                                document.cookie = 'name=kim; max-age=0';
                                document.cookie = 'keyword=interior; max-age=0';
                                loginBtn.classList.remove('hide');
                                registerBtn.classList.remove('hide');
                                logoutBtn.classList.add('hide');
                            })
                        </script>
                    </div>
                </div>
                <div class="header_sub_box">
                    <div class="nav top_nav">
                        <ul>
                            <li><a href="#">침실</a></li>
                            <li><a href="#">거실</a></li>
                            <li><a href="#">주방</a></li>
                            <li><a href="#">다이닝</a></li>
                            <li><a href="#">어린이</a></li>
                            <li><a href="#">욕실</a></li>
                            <li><a href="#">홈오피스</a></li>
                            <li><a href="#">현관</a></li>
                            <li><a href="#">야외공간</a></li>
                            <li><a href="/sub">IKEA for Business</a></li>
                        </ul>
                    </div>
                    <div class="top_member top_nav">
                        <ul>
                            <!-- <li><a href="#">주문조회</a></li> -->
                            <li><a href="#"><i class='bx bx-heart'></i></a></li>
                            <li><a href="#"><i class='bx bx-cart'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <div class="cookie-box">
            <p class="close-btn"><span>&times;</span></p>
            <h3>cookie privacy</h3>
            <button class="accept">Accept All Cookie</button>
            <p><input type="checkbox" class="cookieCheck"> 오늘 하루 안보기</p>
        </div>
        <style>
            .active { display: none;}
            .cookie-box{
                width: 400px; height: 300px;
                background-color: var(--basic-ikea-color);
                color: #fff;
                position: fixed;
                right: 50px; bottom: 50px; 
                padding: 20px;
                z-index: 9999;
                display: none;
                flex-direction: column;
                justify-content: space-between;
            }
            .cookie-box .close-btn {
                text-align: right;
            }
            .cookie-box > p {
                text-align: left;
                font-size: 16px;
            }
            .cookie-box > p > span {
                cursor: pointer;
            }
            .cookie-box > h3 {
                text-align: center;
                padding: 35px 0;
            }
            .cookie-box > .accept {
                width: 80%;
                margin: 0 auto;
                padding: 15px;
                border-radius: 30px;
                border: 0px;
                cursor: pointer;
            }
            .cookie-box > .accept:hover {
                background-color: var(--serve-ikea-color);
                font-weight: bold;
            }
        </style>
        <script>
            const cookieBox = document.querySelector('.cookie-box');
            let cookieCtrl = false;
            // 내 사이트에 접속 했을 때 회사가 구분하기 위해서도 쿠키 사용
            document.querySelector('.close-btn').addEventListener('click', function(){
                // cookieBox.classList.add('hide');
                cookieBox.style.display = "none";
            })
            document.querySelector('.accept').addEventListener('click', function(){
                document.cookie= "brandName=ikea; max-age:60*60*24*30";
                // cookieBox.classList.add('hide');
                cookieBox.style.display = "none";
            })
            document.querySelector('.cookieCheck').addEventListener('change', function(){
                cookieCtrl = !cookieCtrl;
                if( !cookieCtrl ){
                    document.cookie= "brandName=ikea; max-age:0";
                } else {
                    document.cookie= "brandName=ikea; max-age:60*60*24*30";
                }
            })

            function getCookieName(name){
                // match 정규표현식 중 문자열에서 일치되는 문자열 찾는 함수
                var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
                return r ? r[1] : '';
            }

            window.onload = () => {
                let findName = getCookieName('brandName');
                console.log(findName);
                if( findName === 'ikea' ){
                    cookieBox.style.display = "none";
                } else {
                    cookieBox.style.display = "flex";
                }
            }
        </script>

        <div id="container">
            <div class="main_banner">
                <!-- Swiper -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/images/br_banner01.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/br_banner02.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/br_banner03.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/br_banner04.jpg" alt="">
                    </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <!-- Swiper JS -->
                <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

                <!-- Initialize Swiper -->
                <script>
                    var swiper = new Swiper(".mySwiper", {
                    autoplay: {
                    delay: 2500,
                    disableOnInteraction: false,
                    },
                    pagination: {
                        el: ".swiper-pagination",   
                        dynamicBullets: true,                     
                        clickable: true,
                        },
                    });
                </script>
            </div>
            <div class="bestlist_container contents">
                <h2>인기상품</h2>
                <div class="bl_contents">
                    <div class="bl_box">
                        <div class="bl_imgbox">
                            <img src="/images/bestlist01.jpg" alt="">
                        </div>
                        <div class="bl_info">
                            <span class="bl_title">RINNIG 린니그</span>
                            <span class="bl_size">행주, 45x60 cm</span>
                            <span class="bl_price">￦4,900/4 개</span>
                            <span class="bl_grade">★★★★★(141)</span>
                        </div>
                    </div>
                    <div class="bl_box">
                        <div class="bl_imgbox">
                            <img src="/images/bestlist02.jpg" alt="">
                        </div>
                        <div class="bl_info">
                            <span class="bl_title">BAGGEBO 바게보</span>
                            <span class="bl_size">책장, 50x25x160 cm</span>
                            <span class="bl_price">￦32,000</span>
                            <span class="bl_grade">★★★★★(17)</span>
                        </div>
                    </div>
                    <div class="bl_box">
                        <div class="bl_imgbox">
                            <img src="/images/bestlist03.jpg" alt="">
                        </div>
                        <div class="bl_info">
                            <span class="bl_title">VARIERA 바리에라</span>
                            <span class="bl_size">선반인서트, 32x28x16 cm</span>
                            <span class="bl_price">￦6,900</span>
                            <span class="bl_grade">★★★★★(115)</span>
                        </div>
                    </div>
                    <div class="bl_box">
                        <div class="bl_imgbox">
                            <img src="/images/bestlist04.jpg" alt="">
                        </div>
                        <div class="bl_info">
                            <span class="bl_title">RISATORP 리사토르프</span>
                            <span class="bl_size">바구니, 화이트, 25x26x18 cm</span>
                            <span class="bl_price">￦9,900</span>
                            <span class="bl_grade">★★★★★((17)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category_container contents">
                <h2>카테고리</h2>
                <!-- Swiper -->
                <div class="swiper mySwiper02">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category01.png" alt="">
                                <span>가구</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category02.png" alt="">
                                <span>패브릭</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category03.png" alt="">
                                <span>주방</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category04.png" alt="">
                                <span>수납/정리</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category05.png" alt="">
                                <span>생활용품</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category06.png" alt="">
                                <span>생필품</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category07.png" alt="">
                                <span>조명</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category08.png" alt="">
                                <span>인테리어소품</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category09.png" alt="">
                                <span>원예/식물</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category10.png" alt="">
                                <span>가전</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category11.png" alt="">
                                <span>디지털</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category12.png" alt="">
                                <span>캠핑용품</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category13.png" alt="">
                                <span>반려동물</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category14.png" alt="">
                                <span>시공/DIY</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="swiper-pagination"></div> -->
                    <div class="swiper-scrollbar"></div>
                </div>         
                                        
                <!-- Swiper JS -->
                <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

                <!-- Initialize Swiper -->
                <script>
                var swiper = new Swiper(".mySwiper02", {
                    slidesPerView: 7,
                    // spaceBetween: 30,
                    freeMode: true,
                    pagination: {
                    // el: ".mySwiper02 .swiper-pagination",
                    },
                    clickable: true,                      
                    scrollbar: {
                        el: ".mySwiper02 .swiper-scrollbar",
                        // hide: true,
                    },      
                    navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                    },
                });
                </script>
            </div>
            <div class="event_container contents">
                <h2>진행 중인 이벤트 및 프로모션</h2>
                <div class="event_section">
                    <div class="event_box">
                        <div class="event_img">
                            <!-- <img src="../public/images/event_img1.jpg" alt=""> -->
                        </div>
                        <div class="event_descript">
                            <h3>IKEA FESTIVAL</h3>
                            <p>8월 26일부터 9월 10일까지 2주간 펼쳐질 글로벌 스트리밍. 전 세계의 크리에이터들이 들려주는 다양한 홈퍼니싱 아이디어를 만나요!</p>
                            <span><i class='bx bx-right-arrow-alt'></i></span>
                        </div>
                    </div>
                    <div class="event_box">
                        <div class="event_img">
                          <!-- <img src="../public/images/event_img2.jpg" alt=""> -->
                        </div>
                        <div class="event_descript">
                            <h3>곧 만나요! 일부 홈퍼니싱 15% OFF</h3>
                            <p>쌀쌀한 계절이 다가와도 우리집만은 따스하고 편안하게 꾸미고 싶다면, 15% 할인된 일부 홈퍼니싱 제품들을  만나 보세요. 9월 29일 - 10월 18일까지</p>
                            <span><i class='bx bx-right-arrow-alt'></i></span>
                        </div>
                    </div>
                    <div class="event_box">
                        <div class="event_img">
                          <!-- <img src="../public/images/event_img3.jpg" alt=""> -->
                        </div>
                        <div class="event_descript">
                            <h3>책과 함께하는 나만의 공간</h3>
                            <p>사색에 잠기기 좋은 계절, 나만의 작은 독서 공간이 필요하신가요? 다양한 IKEA 보조테이블로 실용성과 감성을 더해 나만의 공간을 연출해보세요.</p>
                            <span><i class='bx bx-right-arrow-alt'></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service_container contents">
                <h2>다양한 IKEA 서비스</h2>
                <ul >
                    <li><a href="#"><img src="/images/service_icon01.jpg" alt=""> <span>배송서비스</span></a></li>
                    <li><a href="#"><img src="/images/service_icon02.jpg" alt=""> <span>주유소 픽업 서비스</span></a></li>
                    <li><a href="#"><img src="/images/service_icon03.jpg" alt=""> <span>조립서비스</span></a></li>
                    <li><a href="#"><img src="/images/service_icon04.jpg" alt=""> <span>실시간 주문 서비스</span></a></li>
                    <li><a href="#"><img src="/images/service_icon05.jpg" alt=""> <span>설치 서비스</span></a></li>
                    <li><a href="#"><img src="/images/service_icon06.jpg" alt=""> <span>주방 서비스</span></a></li>
                    <li class="service_all"><a href="#"><h3>모든 서비스 보기</h3><span><i class='bx bx-right-arrow-alt'></i></span></a></li>
                </ul>
            </div>
        </div>
        <footer>
            <div class="bt_container">
                <div class="bt_menu">
                    <!-- <div class="bt_featuredlink">
                        <ul>
                            <li><h2>IKEA Family</h2></li>
                            <li>지금 IKEA Family에 무료로 가입하고
                                다양한 멤버 전용 혜택을 누리세요.</li>
                            <li><a href="#">자세히보기</a></li>
                            <li><button>IKEA Family 가입하기</button></li>
                        </ul>
                    </div>
                    <div class="bt_accordion">
                        <ul>
                            <li>
                                <a href="#">고객문의</a>
                                <ul>
                                    <li><a href="#">고객지원</a></li>
                                    <li><a href="#">자주 묻는 질문</a></li>
                                    <li><a href="#">문의하기</a></li>
                                    <li><a href="#">배송조회</a></li>
                                    <li><a href="#">교환환불</a></li>
                                    <li><a href="#">품질보증</a></li>
                                    <li><a href="#">제품리콜</a></li>
                                    <li><a href="#">피드백</a></li>
                                    <li><a href="#">부품신청</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">쇼핑하기</a>
                                <ul>
                                    <li><a href="#">쇼핑하기</a></li>
                                    <li><a href="#">전화주문</a></li>
                                    <li><a href="#">IKEA for Business</a></li>
                                    <li><a href="#">셀프 플래닝</a></li>
                                    <li><a href="#">IKEA 모바일 앱</a></li>
                                    <li><a href="#">제품 사용 팁/가이드</a></li>
                                    <li><a href="#">제품 구매 가이드</a></li>
                                    <li><a href="#">결제 옵션</a></li>
                                    <li><a href="#">기프트 카드</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">서비스</a>
                                <ul>
                                    <li><a href="#">IKEA 서비스</a></li>
                                    <li><a href="#">배송 서비스</a></li>
                                    <li><a href="#">조립 서비스</a></li>
                                    <li><a href="#">설치 서비스</a></li>
                                    <li><a href="#">주방 서비스</a></li>
                                    <li><a href="#">플래닝 서비스</a></li>
                                    <li><a href="#">인테리어 디자인 서비스</a></li>
                                    <li><a href="#">바이백 서비스</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">IKEA 이야기</a>
                                <ul>
                                    <li><a href="#">브랜드 소개</a></li>
                                    <li><a href="#">집에서의 삶</a></li>
                                    <li><a href="#">지속가능한 생활</a></li>
                                    <li><a href="#">내가 아끼는 집, 나를 아끼는 집</a></li>
                                    <li><a href="#">뉴스룸</a></li>
                                    <li><a href="#">채용정보</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div> -->
                    <div class="bt_basic bt_utilities">
                        <div class="sns_box">
                            <ul>
                                <li><a href="#">
                                    <i class='bx bxl-facebook-circle' ></i>facebook</a></li>
                                <li><a href="#">
                                    <i class='bx bxl-instagram' ></i>instargram</a></li>
                                <li><a href="#">
                                    <i class='bx bxl-youtube' ></i>youtube</a></li>
                                <li><a href="#">
                                    <i class='bx bx-message-rounded-dots' ></i>kakaochannel</a></li>
                            </ul>
                        </div>
                        <div class="language_container">
                            <div class="change_country">
                                <button>국가변경</button>
                            </div>
                            <div class="langauge_select change_language" id="select_country">
                                <div class="language_choice">언어 선택</div>
                        
                                <ul>
                                    <li data-value="./index">한국어</li>
                                    <li data-value="./indexEng">English</li>
                                </ul>
                            </div>
                        </div>

                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                        
                        <script>
                            var language_toggle = false; 
                            $('.language_choice').on('click', function(){
                            console.log('click');
                            if(!language_toggle){
                                $('.language_choice+ul').addClass( 'active');
                            }else{
                                $('.language_choice+ul').removeClass( 'active');
                            }
                            language_toggle = !language_toggle ;
                            })

                            $('.language_choice+ul>li').on('click', function( ){
                                console.log( $(this).attr('data-value') );
                                location.href = $(this).attr('data-value');
                            })
                        </script>
                    </div>
                    <div class="bt_basic bt_corparea">
                        <div class="bt_copyright">
                            <p>© Inter IKEA Systems B.V 1999-2022
                            </p>
                        </div>
                        <div class="bt_legalLinks">
                            <ul>
                                  <li><a href="#">개인정보처리방침</a></li>
                                  <li><a href="#">쿠키 정책</a></li>
                                  <li><a href="#" >쿠키 설정</a></li>
                                  <li><a href="#">웹사이트 이용약관</a></li>
                                  <li><a href="#">Responsible disclosure</a></li>
                            </ul>
                          </div>
                    </div>
                    <div class="bt_basic bt_company">
                        <div class="bt_companyinfo">
                          <p>IKEA 코리아<br>주소 : (우) 14352  경기도 광명시 일직로 17 IKEA광명점<br>사업자 등록번호 : 106-86-82871 <a href="#">사업자정보확인</a><br>대표자 : 프레드릭 요한손<br>통신판매업 신고 : 2018-경기광명-0209<br>TEL : 1670-4532</p>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- top nav fix script -->
    <script src="script/nav.js"></script>
    <!-- language pack - switch change script -->
    <!-- <script src="script/language.js" ></script> -->
</body>
</html>