<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IKEA</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <div id="wrap">
        <header class="header">
            <div class="header_box">
                <div class="header_main_box">
                    <h1><a href="/">
                        IKEA
                        <img src="/images/ikea-logo.svg" alt=""></a>
                    </h1>
                    <div class="search_bar">
                        <span>what are you looking for ?</span>
                        <i class='bx bx-search'></i>
                    </div>
                    <div class="register_box">
                        <ul>
                            <li><a href="#">log in</a></li>
                            <li><a href="#">sign up</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header_sub_box">
                    <div class="nav top_nav">
                        <ul>
                            <li><a href="#">bedroom</a></li>
                            <li><a href="#">living room</a></li>
                            <li><a href="#">kitchen</a></li>
                            <li><a href="#">dining</a></li>
                            <li><a href="#">baby & children room</a></li>
                            <li><a href="#">bathroom</a></li>
                            <li><a href="#">home office</a></li>
                            <li><a href="#">hallway</a></li>
                            <li><a href="#">outdoor</a></li>
                            <li><a href="/sub">IKEA for Business</a></li>
                        </ul>
                    </div>
                    <div class="top_member top_nav">
                        <ul>
                            <!-- <li><a href="#">주문조회</a></li> -->
                            <li><a href="#"><i class='bx bx-heart'></i></a></li>
                            <li><a href="#"><i class='bx bx-cart'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="container">
            <div class="main_banner">
                <!-- Swiper -->
                <div class="swiper mySwiper">
                    <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img src="/images/br_banner01.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/br_banner02.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/br_banner03.jpg" alt="">
                    </div>
                    <div class="swiper-slide">
                        <img src="/images/br_banner04.jpg" alt="">
                    </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>

                <!-- Swiper JS -->
                <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

                <!-- Initialize Swiper -->
                <script>
                    var swiper = new Swiper(".mySwiper", {
                    pagination: {
                        el: ".swiper-pagination",   
                        dynamicBullets: true,                     
                        clickable: true,
                        },
                    });
                </script>
            </div>
            <div class="bestlist_container contents">
                <h2>best sellers</h2>
                <div class="bl_contents">
                    <div class="bl_box">
                        <div class="bl_imgbox">
                            <img src="/images/bestlist01.jpg" alt="">
                        </div>
                        <div class="bl_info">
                            <span class="bl_title">RINNIG   </span>
                            <span class="bl_size">tea towel, 45x60 cm</span>
                            <span class="bl_price">￦4,900/4 pieces</span>
                            <span class="bl_grade">★★★★★(141)</span>
                        </div>
                    </div>
                    <div class="bl_box">
                        <div class="bl_imgbox">
                            <img src="/images/bestlist02.jpg" alt="">
                        </div>
                        <div class="bl_info">
                            <span class="bl_title">BAGGEBO</span>
                            <span class="bl_size">bookcase, 50x25x160 cm</span>
                            <span class="bl_price">￦32,000</span>
                            <span class="bl_grade">★★★★★(17)</span>
                        </div>
                    </div>
                    <div class="bl_box">
                        <div class="bl_imgbox">
                            <img src="/images/bestlist03.jpg" alt="">
                        </div>
                        <div class="bl_info">
                            <span class="bl_title">VARIERA</span>
                            <span class="bl_size">shelf insert, 32x28x16 cm</span>
                            <span class="bl_price">￦6,900</span>
                            <span class="bl_grade">★★★★★(115)</span>
                        </div>
                    </div>
                    <div class="bl_box">
                        <div class="bl_imgbox">
                            <img src="/images/bestlist04.jpg" alt="">
                        </div>
                        <div class="bl_info">
                            <span class="bl_title">RISATORP</span>
                            <span class="bl_size">basket, white, 25x26x18 cm</span>
                            <span class="bl_price">￦9,900</span>
                            <span class="bl_grade">★★★★★((17)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="category_container contents">
                <h2>category</h2>
                <!-- Swiper -->
                <div class="swiper mySwiper02">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category01.png" alt="">
                                <span>furniture</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category02.png" alt="">
                                <span>fabric</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category03.png" alt="">
                                <span>Kitchen</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category04.png" alt="">
                                <span>storage</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category05.png" alt="">
                                <span>daily</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category06.png" alt="">
                                <span>necessity</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category07.png" alt="">
                                <span>lighting</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category08.png" alt="">
                                <span>interior accessories</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category09.png" alt="">
                                <span>gardening</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category10.png" alt="">
                                <span>home appliances</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category11.png" alt="">
                                <span>digital</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category12.png" alt="">
                                <span>camping</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category13.png" alt="">
                                <span>companion animal</span>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="item_box">
                                <img src="/images/category14.png" alt="">
                                <span>DIY</span>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="swiper-pagination"></div> -->
                    <div class="swiper-scrollbar"></div>
                </div>         
                                        
                <!-- Swiper JS -->
                <script src="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.js"></script>

                <!-- Initialize Swiper -->
                <script>
                var swiper = new Swiper(".mySwiper02", {
                    slidesPerView: 8,
                    spaceBetween: 30,
                    freeMode: true,
                    pagination: {
                    // el: ".mySwiper02 .swiper-pagination",
                    },
                    clickable: true,                      
                    scrollbar: {
                        el: ".mySwiper02 .swiper-scrollbar",
                        // hide: true,
                    },      
                    navigation: {
                    nextEl: ".swiper-button-next",
                    prevEl: ".swiper-button-prev",
                    },
                });
                </script>
            </div>
            <div class="event_container contents">
                <h2>what's on</h2>
                <div class="event_section">
                    <div class="event_box">
                        <div class="event_img">
                            <img src="/images/event_img1.jpg" alt="">
                        </div>
                        <div class="event_descript">
                            <h3>Meet a special price for a weekday lunch in September</h3>
                            <p>Check out the weekday lunch menu and discount coupons that change every week during the month of September.</p>
                            <span><i class='bx bx-right-arrow-alt'></i></span>
                        </div>
                    </div>
                    <div class="event_box">
                        <div class="event_img">
                            <img src="/images/event_img2.jpg" alt="">
                        </div>
                        <div class="event_descript">
                            <h3>Coming soon! Cosy home furnishing product 15% off</h3>
                            <p>Bring warmth and cosiness in your home. Get 15% off on specific home furnishing products. Offers from September 29th until October 18th.</p>
                            <span><i class='bx bx-right-arrow-alt'></i></span>
                        </div>
                    </div>
                    <div class="event_box">
                        <div class="event_img">
                            <img src="/images/event_img3.jpg" alt="">
                        </div>
                        <div class="event_descript">
                            <h3>Create a space for Autumn reading</h3>
                            <p>A small reading space is what you need in a good season to immerse yourself into contemplation. Add the Autumn touches into your own space with a variety of IKEA side tables.
                            </p>
                            <span><i class='bx bx-right-arrow-alt'></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="service_container contents">
                <h2>IKEA Services</h2>
                <ul >
                    <li><a href="#"><img src="/images/service_icon01.jpg" alt=""> <span>dellvery service</span></a></li>
                    <li><a href="#"><img src="/images/service_icon02.jpg" alt=""> <span>gas station pick up service</span></a></li>
                    <li><a href="#"><img src="/images/service_icon03.jpg" alt=""> <span>assembly service</span></a></li>
                    <li><a href="#"><img src="/images/service_icon04.jpg" alt=""> <span>installation service</span></a></li>
                    <!-- <li><a href="#"><img src="/images/service_icon05.jpg" alt=""> <span>설치 서비스</span></a></li> -->
                    <li><a href="#"><img src="/images/service_icon06.jpg" alt=""> <span>kichen planning service</span></a></li>
                    <li class="service_all"><a href="#"><h3>all service</h3><span><i class='bx bx-right-arrow-alt'></i></span></a></li>
                </ul>
            </div>
        </div>
        <footer>
            <div class="bt_container">
                <div class="bt_menu">
                    <!-- <div class="bt_featuredlink">
                        <ul>
                            <li><h2>IKEA Family</h2></li>
                            <li>지금 IKEA Family에 무료로 가입하고
                                다양한 멤버 전용 혜택을 누리세요.</li>
                            <li><a href="#">자세히보기</a></li>
                            <li><button>IKEA Family 가입하기</button></li>
                        </ul>
                    </div>
                    <div class="bt_accordion">
                        <ul>
                            <li>
                                <a href="#">고객문의</a>
                                <ul>
                                    <li><a href="#">고객지원</a></li>
                                    <li><a href="#">자주 묻는 질문</a></li>
                                    <li><a href="#">문의하기</a></li>
                                    <li><a href="#">배송조회</a></li>
                                    <li><a href="#">교환환불</a></li>
                                    <li><a href="#">품질보증</a></li>
                                    <li><a href="#">제품리콜</a></li>
                                    <li><a href="#">피드백</a></li>
                                    <li><a href="#">부품신청</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">쇼핑하기</a>
                                <ul>
                                    <li><a href="#">쇼핑하기</a></li>
                                    <li><a href="#">전화주문</a></li>
                                    <li><a href="#">IKEA for Business</a></li>
                                    <li><a href="#">셀프 플래닝</a></li>
                                    <li><a href="#">IKEA 모바일 앱</a></li>
                                    <li><a href="#">제품 사용 팁/가이드</a></li>
                                    <li><a href="#">제품 구매 가이드</a></li>
                                    <li><a href="#">결제 옵션</a></li>
                                    <li><a href="#">기프트 카드</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">서비스</a>
                                <ul>
                                    <li><a href="#">IKEA 서비스</a></li>
                                    <li><a href="#">배송 서비스</a></li>
                                    <li><a href="#">조립 서비스</a></li>
                                    <li><a href="#">설치 서비스</a></li>
                                    <li><a href="#">주방 서비스</a></li>
                                    <li><a href="#">플래닝 서비스</a></li>
                                    <li><a href="#">인테리어 디자인 서비스</a></li>
                                    <li><a href="#">바이백 서비스</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">IKEA 이야기</a>
                                <ul>
                                    <li><a href="#">브랜드 소개</a></li>
                                    <li><a href="#">집에서의 삶</a></li>
                                    <li><a href="#">지속가능한 생활</a></li>
                                    <li><a href="#">내가 아끼는 집, 나를 아끼는 집</a></li>
                                    <li><a href="#">뉴스룸</a></li>
                                    <li><a href="#">채용정보</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div> -->
                    <div class="bt_basic bt_utilities">
                        <div class="sns_box">
                            <ul>
                                <li><a href="#">
                                    <i class='bx bxl-facebook-circle' ></i>facebook</a></li>
                                <li><a href="#">
                                    <i class='bx bxl-instagram' ></i>instargram</a></li>
                                <li><a href="#">
                                    <i class='bx bxl-youtube' ></i>youtube</a></li>
                                <li><a href="#">
                                    <i class='bx bx-message-rounded-dots' ></i>kakaochannel</a></li>
                            </ul>
                        </div>
                        <div class="language_selector">
                            <div class="change_country">
                                <button>change country</button>
                            </div>
                            <div class="change_language">
                                <ul name="change_language" id="select_country">
                                    <li data-value="">select</li>
                                    <li data-value="./index.html">korea</li>
                                    <li data-value="./indexEng.html">English</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="bt_basic bt_corparea">
                        <div class="bt_copyright">
                            <p>© Inter IKEA Systems B.V 1999-2022
                            </p>
                        </div>
                        <div class="bt_legalLinks">
                            <ul>
                                  <li><a href="#">privacy policy</a></li>
                                  <li><a href="#">cookie policy</a></li>
                                  <li><a href="#" >cookie settings</a></li>
                                  <li><a href="#">terms & conditions</a></li>
                                  <li><a href="#">Responsible disclosure</a></li>
                            </ul>
                          </div>
                    </div>
                    <div class="bt_basic bt_company">
                        <div class="bt_companyinfo">
                          <p>IKEA KOREA<br>Address : 17 ILJIK-RO, GWANGMYEONG-SI, GYEONGGI-DO 14352<br>Company Registration Number : 106-86-82871 <a href="#">BUSINESS INFO</a><br>Country Retail Manager : Fredrik Johansson<br> Telecommunication Services Registration Number. : 2018-경기광명-0209<br>TEL : 1670-4532</p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <!-- language pack - switch change script -->
    <script type = "text/javascript" src="script/language.js" ></script>
</body>
</html>