<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IKEA-sub</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>
    <!-- Link Swiper's CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/sub.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>
    <div id="wrap">
        <header class="header">
            <div class="header_box">
                <div class="header_main_box">
                    <h1><a href="/">
                        IKEA
                        <img src="/images/ikea-logo.svg" alt=""></a>
                    </h1>
                    <div class="search_bar">
                        <span>홈 인테리어 정보, 상품 검색</span>
                        <i class='bx bx-search'></i>
                    </div>
                    <div class="register_box">
                        <ul>
                            <li><a href="#">로그인</a></li>
                            <li><a href="#">회원가입</a></li>
                        </ul>
                    </div>
                </div>
                <div class="header_sub_box">
                    <div class="nav top_nav">
                        <ul>
                            <li><a href="#">침실</a></li>
                            <li><a href="#">거실</a></li>
                            <li><a href="#">주방</a></li>
                            <li><a href="#">다이닝</a></li>
                            <li><a href="#">어린이</a></li>
                            <li><a href="#">욕실</a></li>
                            <li><a href="#">홈오피스</a></li>
                            <li><a href="#">현관</a></li>
                            <li><a href="#">야외공간</a></li>
                            <li><a href="/sub">IKEA for Business</a></li>
                        </ul>
                    </div>
                    <div class="top_member top_nav">
                        <ul>
                            <!-- <li><a href="#">주문조회</a></li> -->
                            <li><a href="#"><i class='bx bx-heart'></i></a></li>
                            <li><a href="#"><i class='bx bx-cart'></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <div id="container">
            <div class="tabs_container contents">
                <div class="tabs_box">
                    <h2>고객서비스</h2>
                    <div class="tab_btns_box">
                        <ul class="tab_btns">
                            <li><a href="#" class="active">헤이오더</a></li>
                            <li><a href="#">주문 조회 및 관리</a></li>
                            <li><a href="#">제품 재고 확인</a></li>
                            <li><a href="#">부품 신청</a></li>
                            <li><a href="#">분실물 찾기</a></li>
                            <li><a href="#">교환환불</a></li>
                            <li><a href="#">기프티 카드 잔액 확인</a></li>
                        </ul>
                    </div>
                    <div class="tab_contents_box">
                        <div class="tab_content tab_content01 active">
                            <p>
                                제품을 쉽고, 편하게 구입 하시 길 원하시나요?
                                <br><br>
                                그렇다면 제품 상담부터 결제까지 책임져주는 원스톱 서비스, 헤이오더를 이용해 보세요. 
                                <br><br><br>
                                다양한 방법을 통해 전문 상담원과 함께 맞춤형 상담부터 결제 까지 쉽고 편리하게 언제 어디서나 IKEA 제품을 구입 할 수 있어요.  오로지 나만을 위한  1:1 구매 서비스 헤이오더가 여러분을 도와 드릴게요.
                                <br>
                                망설이지 말고 지금 바로 이용해 보세요. 
                                <br>
                            </p>

                            <!-- <div class="service_card_box">
                                <div class="service_descard descard01">
                                    <h3>1. 전화 상담 및 주문</h3>
                                    <span>구매상담부터 결제까지, 1:1 상담</span>
                                    <div class="service_img">
                                        <img src="/images/service_descard01.jpg" alt="">
                                    </div>
                                    <p>
                                        온라인 주문이 어려우신가요?  매장 방문이 어려우신가요?
                                        <br><br>
                                        원하는 제품을 쉽고 편한 전화로 상담부터 결제까지 만나 보세요. 전문 상담원이 구매상담부터 결제까지 한 번에 해결해 드립니다.
                                        <br><br>
                                        지금 바로 전화해 보세요.
                                        <br><br><br>
                                        <span>대표 번호: </span>1670 – 4532 (단축번호 3번 > 3번)
                                        <br>
                                        <span></span>상담 가능 시간: </span> 10:00 ~ 20:00
                                        <br>
                                        (설날/추석 당일 제외 365일 연중무휴)
                                    </p>
                                </div>
                                <div class="service_descard descard02">
                                    <h3>1. 전화 상담 및 주문</h3>
                                    <p>구매상담부터 결제까지, 1:1 상담</p>
                                    <div class="service_img">
                                        <img src="/images/service_descard02.jpg" alt="">
                                    </div>
                                    <p>
                                        구입 하고 싶은 제품이 있다면 장바구니에 담아두고, 고객님의 연락처와 문의사항만 남겨주세요. 맞춤 상담을 통해 제품을 쉽게 구매할 수 있도록 IKEA 가 도와 드릴게요. 
                                        <br><br>
                                        *IKEA 전문 상담원이 확인 후 순차적으로 전화 드립니다. (발신번호 : 1670-4532)
                                    </p>
                                </div>
                                <div class="service_descard descard03">
                                    <h3>1. 전화 상담 및 주문</h3>
                                    <p>구매상담부터 결제까지, 1:1 상담</p>
                                    <div class="service_img">
                                        <img src="/images/service_descard03.jpg" alt="">
                                    </div>
                                    <p>
                                        홈퍼니싱 전문가와 함께 하는 나에게 꼭 맞는 플래닝 상담 부터 결제 까지, 보이는 화상 플래닝을 통해  IKEA 제품을 만날 수 있어요.
                                        <br>
                                        제공가능한 서비스:
                                        <br>
                                        <ul>
                                            <li>홈퍼니싱 컨설턴트와 함께하는 홈퍼니싱 플래닝</li> 
                                            <li>주방 컨설턴트와 함께 하는 주방 플래닝</li>
                                            <li>비즈니스 컨설턴트와 함께 하는 비즈니스 플래닝</li>
                                        </ul>
                                        아직 망설이고 계신가요? 상담은 무료입니다!
                                        <br><br>
                                        플래닝 상담은 아래 예약하러 가기 버튼을 통해 언제, 어디서나 만날 수 있어요. 
                                    </p>
                                </div>
                                <div class="service_descard descard04">
                                    <h3>1. 전화 상담 및 주문</h3>
                                    <p>구매상담부터 결제까지, 1:1 상담</p>
                                    <div class="service_img">
                                        <img src="/images/service_descard04.jpg" alt="">
                                    </div>
                                    <p>
                                        화면 오른쪽 하단의 노란색 아이콘을 누르면, 전문 상담원이 제품 상담 부터 주문, 결제 까지 도움 드려요.
                                        <br><br><br>
                                        전화하기 어려우신가요? 플래닝 예약 도움이 필요 하신 가요? 지금 바로 주문 원하세요?
                                        <br>
                                        채팅주문상담으로 실시간으로 상담원 연결을 통해 IKEA 제품을 만날 수 있어요. 
                                        <br><br><br>
                                        <span>상담 가능 시간: </span> 10:00 ~ 21:00
                                        <br>
                                        (설날/추석 당일 제외 365일 연중무휴)         
                                    </p>
                                </div>
                            </div> -->
                        </div>
                        <div class="tab_content tab_content02">
                            <p>
                                주문이 목록에서 누락 되었나요? 주문 조회 기능으로 주문을 조회해 보세요.
                            </p>
                        </div>
                        <div class="tab_content tab_content03">
                            <p>
                                IKEA 매장을 방문하거나 온라인에서 구매하기 전에 여러분만의 쇼핑 계획을 만들어보세요.
                                <br><br>
                                구매하고자 하는 IKEA 제품의 재고 상태를 미리 확인 할 수 있습니다.
                            </p>
                        </div>
                        <div class="tab_content tab_content04">
                            <p>제품을 구성하는 여러가지 예비 부품이 준비되어 있어요. 필요하신 부품을 무료로 신청해보세요.</p>
                        </div>
                        <div class="tab_content tab_content05">
                            <p>
                                매장에서 소지품을 잃어버리셨나요? 찾을 수 있도록 도와드릴게요.
                                <br>
                                매장에서 발견된 모든 분실물은 iLost 분실물 관리 서비스에 등록되어 편리하게 검색이 가능합니다.
                                <br><br>
                                iLost 웹사이트를 사용하시려면 iLost의 개인정보처리방침에 동의를 하셔야 하며, iLost가 해당 정보의 책임을 갖게 됩니다.
                                개인정보처리방침에 동의를 하지 않고 IKEA 매장을 직접 방문하여 분실물을 찾는 것도 가능합니다.
                            </p>
                        </div>
                        <div class="tab_content tab_content05">
                            <p>
                                IKEA에서 구매한 제품이 마음에 들지 않으면 365일 이내에 가져오세요.
                                <br>
                                구매 영수증과 사용하지 않은 제품을 가져오면 환불해 드립니다.
                                <br><br>
                                다만, 조건에 맞지 않을 경우 교환 및 환불이 어려울 수 있습니다.
                            </p>
                        </div>
                        <div class="tab_content tab_content05">
                            <p>
                                가족과 친구들에게 소중한 마음을 전하고 싶으신가요?
                                <br>
                                생일, 집들이 혹은 순수히 감사한 마음을 전달하고 싶을 때, IKEA 기프트 카드가 좋은 선택이 될 수 있어요!
                                </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="accordion_container contents">
                <dl class="accordion_box">
                    <h2>자주 묻는 질문</h2>
                    <dt class="accordion_title">
                        IKEA 매장 운영시간과 휴무일을 알려주세요.</dt>
                    <dd class="accordion_content">
                        매장 별 상세 운영시간은 각 매장 홈페이지에서 확인해주세요!
                        <br>
                        IKEA는 설날과 추석 당일을 제외하고, 매일 운영합니다.
                        <br>
                        편리한 시간에 매장에 방문하셔서 홈퍼니싱에 대한 멋진 아이디어를 만나보세요.
                        <br><br>
                        <a href="#">IKEA 매장 정보 페이지(클릭)</a>
                        <br>
                        더 많은 사람들의 더 편리한 쇼핑을 위해, IKEA를 더 가까이 만날 수 있는 픽업 포인트를 광주광역시에 오픈했어요.
                        <br>
                        매장 정보, 서비스 이용 방법 등 다양한 정보를 확인해보세요.
                        <br><br>
                        <a href="">IKEA 광주 픽업 포인트(클릭)</a>
                    </dd>
                    <dt class="accordion_title">결제완료 후 주문 내역(배송일, 품목) 조회, 변경 또는 주문취소가 가능한가요?</dt>
                    <dd class="accordion_content">
                        content주문조회 및 관리페이지와 IKEA 고객지원 센터를 통해 주문변경/취소가 가능합니다. 배송 준비 상태별로 진행가능여부가 달라질 수 있으며, 자세한 내용을 확인해보세요.
                        <br>
                        [주문조회 및 관리]
                        IKEA 주문서에 입력된 정보를 통해 주문 내역과 배송 상태를 조회하실 수 있습니다.
                        주문조회 및 관리 페이지에서 주문서에 입력된 정보와 동일하게 주문 번호 및 전화번호(또는 이메일 주소)를 입력해 주세요.
                        또는 결제 완료 후 발송되는 주문 확인(Order confirmation) 메일 하단의 주문내역 보기 버튼을 클릭하면 간단히 구매 내역을 확인할 수 있습니다.
                        <br><br><br>
                        [배송일 변경]
                        1. 주문조회 및 관리 페이지로 이동 후 주문번호와 결제 시 등록한 이메일 또는 전화번호를 입력해 주세요.
                        2. [구매내역 관리] 버튼을 눌러 배송일을 변경해보세요.
                        <br>
                        • 가구배송
                        - 배송 일자 변경 가능 여부는 운송 단계 및 지역별로 상이합니다.
                        - 배송 주소지 변경을 원하실 경우에는 IKEA 고객지원센터로 문의해 주세요. 단, 제품 출고 이후에는 주소지 변경이 불가합니다.
                        • 택배배송
                        - 택배 배송의 경우, 운송 산업 특성상 상품이 매장이나 물류 창고를 떠나면 취소나 변경이 불가합니다.
                        <br><br><br>
                        [제품목록 변경]
                        주문 내용의 일부를 변경 또는 취소하고 싶다면 IKEA 고객지원센터로 연락주시면 주문서 수정을 도와드립니다.
                        단, 배송 준비가 시작된 경우에는 주문서 변경이 어려운 점을 참고해 주세요.
                        <br><br><br>
                        [주문취소]
                        1. 주문조회 및 관리 페이지로 이동 후 주문번호와 결제 시 등록한 이메일 또는 전화번호를 입력해 주세요.
                        2. [구매내역 관리] - 주문취소 버튼을 눌러 배송을 취소해주세요
                        * 제품 준비가 시작 된 이후 주문취소를 진행하신 경우 취소 보류 상태로 전환되므로 IKEA 고객지원센터로 연락주시기 바라며, 배송 진행 상태에 따라 반품비가 부과될 수 있습니다.</dd>
                    <dt class="accordion_title">조립서비스 이용 방법이 궁금해요.</dt>
                    <dd class="accordion_content">
                        IKEA 제품은 고객이 직접 조립할 수 있도록 명확하게 디자인되어 있지만 도움이 필요한 경우 집이나 사무실에서 이용할 수 있도록 조립 서비스를 준비했습니다. 자세한 내용은 아래 버튼을 눌러 확인해보세요.
                        <br>
                        * 신청방법
                        <br>
                        구매하신 제품에 대해 조립서비스 신청을 원하시면, 제품 구매 후 즉시 주문조회 및 관리 페이지에서 접수해보세요. 만약 신청이 어려우시다면 IKEA 고객지원센터로 문의해 주세요. 
                        <br>
                        1. 먼저 주문조회를 위해 주문번호와 결제 시 등록한 이메일 또는 전화번호를 입력해 주세요.
                        2. 구매내역 관리 - [조립서비스 요청] 버튼을 눌러 서비스 신청 요청을 해주세요.
                        <br>
                        - 직접 구매하신 제품 및 배송을 받으신 이후 조립서비스 신청을 원하실 경우 방문비가 발생됩니다.
                        - 서비스 진행은 조립을 원하시는 제품이 원 포장 상태인 경우에 가능합니다. 이용 요금, 지역 등 더 상세한 정보는 조립서비스 안내 페이지에서 확인해 주세요.
                        <br><br>                        
                        * 서비스 요금
                        <br>
                        보다 합리적으로 변화된 조립 서비스를 만나보세요. 조립 비용은 제품의 조립 난이도 및 구성 요소에 따라 달라지며 가구 배송 서비스와 함께 이용 가능합니다.
                        비용에 대한 자세한 사항은 매장 직원 또는 IKEA 고객지원센터로 문의 주세요.
                    </dd>
                </dl>
            </div>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
            <script src="script/accordion.js"></script>
            
            <script>
                $('.tab_btns>li>a').on('click', function(event) {
                    event.preventDefault();

                    console.log( $(this).parent().index() );

                    let num = $(this).parent().index();
                    $('.tab_btns>li>a').removeClass('active');
                    $(this).addClass('active');

                    $('.tab_content').removeClass('active');
                    $('.tab_content').eq(num).addClass('active');
                })
            </script>
        </div>
        <footer>
            <div class="bt_container">
                <div class="bt_menu">
                    <!-- <div class="bt_featuredlink">
                        <ul>
                            <li><h2>IKEA Family</h2></li>
                            <li>지금 IKEA Family에 무료로 가입하고
                                다양한 멤버 전용 혜택을 누리세요.</li>
                            <li><a href="#">자세히보기</a></li>
                            <li><button>IKEA Family 가입하기</button></li>
                        </ul>
                    </div>
                    <div class="bt_accordion">
                        <ul>
                            <li>
                                <a href="#">고객문의</a>
                                <ul>
                                    <li><a href="#">고객지원</a></li>
                                    <li><a href="#">자주 묻는 질문</a></li>
                                    <li><a href="#">문의하기</a></li>
                                    <li><a href="#">배송조회</a></li>
                                    <li><a href="#">교환환불</a></li>
                                    <li><a href="#">품질보증</a></li>
                                    <li><a href="#">제품리콜</a></li>
                                    <li><a href="#">피드백</a></li>
                                    <li><a href="#">부품신청</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">쇼핑하기</a>
                                <ul>
                                    <li><a href="#">쇼핑하기</a></li>
                                    <li><a href="#">전화주문</a></li>
                                    <li><a href="#">IKEA for Business</a></li>
                                    <li><a href="#">셀프 플래닝</a></li>
                                    <li><a href="#">IKEA 모바일 앱</a></li>
                                    <li><a href="#">제품 사용 팁/가이드</a></li>
                                    <li><a href="#">제품 구매 가이드</a></li>
                                    <li><a href="#">결제 옵션</a></li>
                                    <li><a href="#">기프트 카드</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">서비스</a>
                                <ul>
                                    <li><a href="#">IKEA 서비스</a></li>
                                    <li><a href="#">배송 서비스</a></li>
                                    <li><a href="#">조립 서비스</a></li>
                                    <li><a href="#">설치 서비스</a></li>
                                    <li><a href="#">주방 서비스</a></li>
                                    <li><a href="#">플래닝 서비스</a></li>
                                    <li><a href="#">인테리어 디자인 서비스</a></li>
                                    <li><a href="#">바이백 서비스</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">IKEA 이야기</a>
                                <ul>
                                    <li><a href="#">브랜드 소개</a></li>
                                    <li><a href="#">집에서의 삶</a></li>
                                    <li><a href="#">지속가능한 생활</a></li>
                                    <li><a href="#">내가 아끼는 집, 나를 아끼는 집</a></li>
                                    <li><a href="#">뉴스룸</a></li>
                                    <li><a href="#">채용정보</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div> -->
                    <div class="bt_basic bt_utilities">
                        <div class="sns_box">
                            <ul>
                                <li><a href="#">
                                    <i class='bx bxl-facebook-circle' ></i>facebook</a></li>
                                <li><a href="#">
                                    <i class='bx bxl-instagram' ></i>instargram</a></li>
                                <li><a href="#">
                                    <i class='bx bxl-youtube' ></i>youtube</a></li>
                                <li><a href="#">
                                    <i class='bx bx-message-rounded-dots' ></i>kakaochannel</a></li>
                            </ul>
                        </div>
                        <div class="language_container">
                            <div class="change_country">
                                <button>국가변경</button>
                            </div>
                            <div class="langauge_select change_language" id="select_country">
                                <div class="language_choice">언어 선택</div>
                        
                                <ul>
                                    <li data-value="./index">한국어</li>
                                    <li data-value="./indexEng">English</li>
                                </ul>
                            </div>
                        </div>

                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                        
                        <script>
                            var language_toggle = false; 
                            $('.language_choice').on('click', function(){
                            console.log('click');
                            if(!language_toggle){
                                $('.language_choice+ul').addClass( 'active');
                            }else{
                                $('.language_choice+ul').removeClass( 'active');
                            }
                            language_toggle = !language_toggle ;
                            })

                            $('.language_choice+ul>li').on('click', function( ){
                                console.log( $(this).attr('data-value') );
                                location.href = $(this).attr('data-value');
                            })
                        </script>
                    </div>
                    <div class="bt_basic bt_corparea">
                        <div class="bt_copyright">
                            <p>© Inter IKEA Systems B.V 1999-2022
                            </p>
                        </div>
                        <div class="bt_legalLinks">
                            <ul>
                                  <li><a href="#">개인정보처리방침</a></li>
                                  <li><a href="#">쿠키 정책</a></li>
                                  <li><a href="#" >쿠키 설정</a></li>
                                  <li><a href="#">웹사이트 이용약관</a></li>
                                  <li><a href="#">Responsible disclosure</a></li>
                            </ul>
                          </div>
                    </div>
                    <div class="bt_basic bt_company">
                        <div class="bt_companyinfo">
                          <p>IKEA 코리아<br>주소 : (우) 14352  경기도 광명시 일직로 17 IKEA광명점<br>사업자 등록번호 : 106-86-82871 <a href="#">사업자정보확인</a><br>대표자 : 프레드릭 요한손<br>통신판매업 신고 : 2018-경기광명-0209<br>TEL : 1670-4532</p>

                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>