@charset "utf-8";

:root {
    --swiper-theme-color : #fbd914;
    --basic-ikea-color : #004a8f;
    --serve-ikea-color : #f9d716;
}
#wrap {
    /* width: 1600px; */
    width: 100%;
    /* height: 800px; */
    margin: 0 auto;
    /* background-color: rosybrown; */
}

header {
    width: 100%;
    /* height: 50px; */
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
    align-items: center;
}
.top_nav ul {
    display: flex;
    /* justify-content: center; */
}
.top_nav li {
    padding: 0 10px;
    line-height: 50px;
    font-size: 15px;
    /* border: 1px solid black; */
}
.top_member i {
    font-size: 25px;
    line-height: 50px;
}


#constiner {
    width: 100%;
}
.main_banner {
    height: 600px;
}


/* Demo styles */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: var(--swiper-theme-color);
}


/* service_container */
.contents {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}
.contents h2 {
  font-size: 25px;
  margin-bottom: 10px;
}
.service_container {
  
}
.service_container ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
.service_container li {
  background-color: var(--basic-ikea-color);
  width: 300px;
  height: 300px;
  position: relative;
}
.service_container img {
  /* display: none; */
  width: 100%;
  height: 100%;
}
.service_container span {
  display: block;
  width: 100%;
  font-size: 15px;
  text-align: center;
  margin: 5px 0;
  position: absolute; 
  top: 70%;
}
.service_all h3 {
  font-weight: 800;
  margin: 20px 15px;
  text-decoration: underline; 
  color: white;
}
.service_all a span:last-child{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  margin-left: 15px;
}

/* event_container */
.event_container {

}
.event_section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
  /* overflow: hidden; */
}
.event_box {
  border: 1px solid black;
  box-sizing: border-box;
  background-color: royalblue;
}
.event_box > span {
  display: block;
  width: calc(100% /3);
  height: calc(100% /3);
}
.event_box img {
  /* width: 100%; */
  /* height: 100%; */
  height: 480px;

}
.event_box .event_descript {
  /* width: 100%; */
  height: 250px;
  padding: 20px;
  position: relative;
}
.event_box .event_descript h3 {
  font-weight: 800;
  font-size: 25px;
  color: white;
}
.event_box .event_descript p {
  font-size: 16px;
}
.event_box .event_descript span {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  display: block;
  position: absolute;
  bottom: 20px;
}